page-cadastro-fornecedor {

    .item-md {
        color: #000;
    }

    .div-style {
        margin-top: 10px!important;
        background: #EEDD82;
        width: 95%;
        margin: auto;
        padding: 10px;
        margin-bottom: 30px;
        border:solid 1px;
        border-color: #FDB313;
        
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
    }

}
