// retirar linha verde do input
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: inset 0 -1px 0 0 #dedede;
}

.content-stable {
    background-color: #E8E8E8 !important;
}

.margin-button-save {
    margin-top: 30px;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    // color: rgba(0, 0, 0, 0.35);
    color: rgb(72, 72, 72);
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    // background: rgba(0, 0, 0, 0.35);
    background: rgb(72, 72, 72);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

// hr {
//     display: block;
//     height: 1px;
//     border: 0;
//     border-top: 1px solid #999;
//     margin: 1em 0;
//     padding: 0;
// }
.class-error-form-login {
    color: #fff;
    margin-left: 15px;
    font-size: 13px;
}

.class-error-form {
    color: red;
    margin-left: 15px;
    font-size: 13px;
}

// .item-md {
//     padding-left: 16px;
//     padding-right: 0;
//     position: relative;
//     font-size: 1.6rem;
//     font-weight: normal;
//     text-transform: none;
//     color: #fff;
//     background-color: #fff;
//     -webkit-box-shadow: none;
//     box-shadow: none;
//     -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
//     transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
// }
.my-position-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-right: 0;
}

.h2-color-cards {
    color: #111!important;
    // color: #fff!important;
}

.border-top-color {
    border-top: 1px solid #999;
}

.my-label {
    font-size: 13px;
}

.item-divider-style {
    background-color: #f4f4f4!important;
    margin-top: 10px;
}

.fab {
    contain: initial;
    // box-shadow: 0px 3px 2px 2px black;
}

ion-fab {
    ion-fab-list button[ion-fab] {
        overflow: visible;
        div.label {
            position: absolute;
            right: 48px;
            background: rgba(0, 0, 0, 0.7);
            height: 24px;
            line-height: 16px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
            color: #fff;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        }
    }
}

.custom-image {
    max-width: 95%!important;
}

.capitalized {
    text-transform: capitalize;
}

.corVerde {
    color: green!important;
}

.corAzul {
    color: blue!important;
}

.corVermelha {
    color: red!important;
}

.corDanger {
    color: #f53d3d!important;
}

.corAmarela {
    color: #FDB313!important;
}

.a-style-button-phone {
    margin-top: -5px!important;
    font-size: 12px!important;
    margin-left: -10px!important;
}

.content .scroll-content {
    overflow-y: auto !important;
}

.content-ios .scroll-content {
    overflow-y: scroll !important;
}