<ion-header>

    <ion-navbar color="dark">
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>
            Orç. {{ status | lowercase}}s
        </ion-title>
        <ion-buttons end *ngIf="cotacoesList?.length > 0">
            <button ion-button icon-only (click)="showFilter = !showFilter">
                        <ion-icon ios="ios-search" md="md-search"></ion-icon>
                    </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <ion-searchbar (ionInput)="getItems($event)" *ngIf="showFilter" placeholder="Buscar"></ion-searchbar>

    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="cotacoesList?.length == 0">
        <div style="text-align: center;color: #484848;"><strong>Não existe nenhum orçamento {{ status | lowercase}}</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="ios-albums" md="md-albums"></ion-icon>
        </div>
    </div>

    <ion-list>
        <button ion-item *ngFor="let cotacao of cotacoesList" (click)="openDetalhaCotacao(cotacao.idCotacao, cotacao.statusCotacaoEnum)">
          <h4 style="color: #66667D;">Nr. Orçamento: <strong>{{ cotacao.idOrcamentoFormat }}</strong></h4>
          <h4 style="color: #66667D;">Cliente: {{ cotacao.nomeCliente }}</h4>
          <h4 style="color: #66667D;">Veículo: {{ cotacao.placaMarca }}</h4>
          <h4 style="color: #66667D;">Aberto em: {{ cotacao.dataCadastroFormat }}</h4>
        </button>
    </ion-list>

</ion-content>