<ion-header>

    <ion-navbar color="dark">
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>
            Orç. {{ status | lowercase}}s
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <ion-searchbar (ionInput)="getItems($event)" *ngIf="showFilter" placeholder="Buscar"></ion-searchbar>

    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="cotacoesList?.length == 0">
        <div style="text-align: center;color: #484848;"><strong>Não existe nenhum orçamento {{ status | lowercase}}</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="ios-albums" md="md-albums"></ion-icon>
        </div>
    </div>

    <ion-list>
        <button ion-item *ngFor="let cotacao of cotacoesList" (click)="openDetalhaCotacao(cotacao.idCotacao, cotacao.statusCotacaoEnum)">
          <h4 style="color: #66667D;">Nr. Orçamento: <strong>{{ cotacao.idOrcamentoFormat }}</strong></h4>
          <h4 style="color: #66667D;">Serviço: <strong>{{ cotacao.nomeServico }}</strong></h4>
          <h4 style="color: #66667D;">Aberto em: {{ cotacao.dataCadastroFormat }}</h4>
          <h4 *ngIf="cotacao.statusCotacaoEnum != 'ABERTO' && cotacao.statusCotacaoEnum != 'CONCLUIDO'"  style="color: #66667D;">Respondido em: {{ cotacao.dataRespostaFormat }}</h4>
          <h4 *ngIf="cotacao.statusCotacaoEnum == 'CONCLUIDO'"  style="color: #66667D;">Concluído em: {{ cotacao.dataConcluidaFormat }}</h4>
        </button>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>