<ion-menu type="reveal" id="myMenu" [content]="content">
    <ion-header style="background-color: #484848;">

        <ion-card text-center class="hide-card" style="background-color: #484848;">
            <div class="custom-avatar">
                <img src="assets/imgs/logo.png" class="custom-avatar" />
            </div>

            <div style="margin-top: -10px; margin-bottom: 30px; color: #fff">
                <p style="color: #fff">Conectando você a seus clientes</p>
            </div>

            <div style="margin-top: 10px;">
                <h2 style="color: #fff">{{ nomePessoa }}</h2>
            </div>
            <hr>
        </ion-card>

    </ion-header>


    <ion-content style="background-color: #424242;">
        <ion-list style="margin-top: 7px;">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.no-click]="p.isVisible==false" style="background-color: #424242;">
                <ion-icon [name]="p.icon" item-left item-start color="light" *ngIf='p.isVisible'></ion-icon>
                <h4 *ngIf='p.isVisible' style="color: #fff">{{p.title}}</h4>
            </button>
            <!-- 
            <button block (click)="openCamera()">Open camera</button>
            <button block (click)="selectFromGallery()">Select from gallery</button> -->

            <ion-item menu-close ion-item color="white" (click)="logout()" class="my-position-button" style="background-color: #424242;">
                <ion-icon ios="ios-exit" md="ios-exit" item-start color="light"></ion-icon>
                <h4 style="color: #fff">Sair</h4>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>