<ion-header>

    <ion-navbar color="dark">
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>
            {{ 'DETALHES_ORCAMENTO' | translate }}
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div *ngIf="cotacaoFornecedorEntity.nomeUsuario" style="margin-bottom: 60px;">
        <div padding>
            <p class="h2-color-cards" *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum == 'ABERTO'" style="text-align: center;">
                <strong style="color: blue">{{ 'LABEL_RESPONDA_ORCAMENTO' | translate }}</strong>
            </p>
            <p class="h2-color-cards" *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum == 'RESPONDIDO'" style="text-align: center;">
                <strong style="color: blue">{{ 'LABEL_AGUARDANDO_ANALISE' | translate }}</strong>
            </p>
            <p class="h2-color-cards" *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum == 'ESCOLHIDO'" style="text-align: center;">
                <strong style="color: #228B22;">{{ 'LABEL_PARABENS' | translate }}</strong><br>
                <strong style="color: #555;">{{ 'LABEL_ALERTA_ENTREGA' | translate }}</strong>
            </p>
            <p class="h2-color-cards" *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum == 'CONCLUIDO'" style="text-align: center;">
                <strong style="color: blue">{{ 'LABEL_ORCAMENTO_CONCLUIDO_DATA' | translate }} {{ cotacaoFornecedorEntity.dataConcluidaFormat }}</strong>
            </p>
            <hr style="border-top: 1px solid #999;">

            <p style="margin-top: 10px;">
                <span style="font-size: 14px;">{{ 'NUMERO_ORCAMENTO' | translate }}: <b>{{ cotacaoFornecedorEntity.idOrcamentoFormat }}</b></span>
            </p>

            <p>{{ 'LABEL_ABERTO_EM' | translate }}: {{ cotacaoFornecedorEntity.dataCadastroFormat }}</p>
            <p>
                <span *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum != 'ABERTO'" style="font-size: 14px;">{{ 'LABEL_RESPONDIDO_EM' | translate }}: {{ cotacaoFornecedorEntity.dataRespostaFormat }}</span>
            </p>
            <p *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum == 'ESCOLHIDO'">{{ 'LABEL_ESCOLHIDO_EM' | translate }}: {{ cotacaoFornecedorEntity.dataEscolhidaFormat }}</p>

            <div *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum == 'ABERTO' || cotacaoFornecedorEntity.statusCotacaoEnum == 'RESPONDIDO'">
                <div class="div-style-regiao">
                    <b style="color: #000; font-size: 14px;">{{ 'LABEL_REGIAO_CLIENTE' | translate }} </b>
                </div>
                <p>{{ 'PROVINCIA' | translate }}: {{ cotacaoFornecedorEntity.nomeEstadoUsuario }}</p>
                <p>{{ 'CIDADE' | translate }}: {{ cotacaoFornecedorEntity.nomeCidadeUsuario }}</p>
            </div>

            <!-- <hr style="border-top: 1px solid #999;"> -->
        </div>
        <hr class="hr10">

        <div padding *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum == 'ESCOLHIDO' || cotacaoFornecedorEntity.statusCotacaoEnum == 'CONCLUIDO'">
            <p class="h2-color-cards" style="margin-top: -10px; margin-bottom: 30px;">
                <b style="color: #000; font-size: 14px;">{{ 'LABEL_DADOS_CLIENTE' | translate }}</b>
            </p>

            <div>
                <div style="margin-top: -14px;">
                    <p>{{ 'NOME' | translate }}:</p>
                    <P><span style="color: #535353;">{{ cotacaoFornecedorEntity.nomeUsuario }}</span></P>
                    <p>{{ 'EMAIL' | translate }}: </p>
                    <p><span style="color: #535353;">{{ cotacaoFornecedorEntity.emailUsuario }}</span></p>

                    <p>{{ 'PROVINCIA' | translate }}: {{ cotacaoFornecedorEntity.nomeEstadoUsuario }}</p>
                    <p>{{ 'CIDADE' | translate }}: {{ cotacaoFornecedorEntity.nomeCidadeUsuario }}</p>
                    <p>{{ 'ENDERECO' | translate }}: {{ cotacaoFornecedorEntity.endereco }}</p>
                    <p>{{ 'LABEL_CEP' | translate }}: {{ cotacaoFornecedorEntity.cepUsuario }}</p>
                    <p>{{ 'LABEL_NOME_RESID' | translate }}: {{ cotacaoFornecedorEntity.nomeResidencia }}</p>

                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 style="margin-left: -20px;">
                                <a ion-button clear item-end href="tel:+{{ cotacaoFornecedorEntity.telefone }}" class="a-style-button-phone">
                                    <ion-chip style="width: 150px;">
                                        <ion-icon ios="ios-call" md="md-call"></ion-icon>
                                        <ion-label><b> {{ cotacaoFornecedorEntity.telefone }} </b></ion-label>
                                    </ion-chip>
                                </a>

                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6 style="margin-left: -20px;" *ngIf="cotacaoFornecedorEntity.telefone2">
                                <a ion-button clear item-end href="tel:+{{ cotacaoFornecedorEntity.telefone2 }}" class="a-style-button-phone">
                                    <ion-chip style="width: 150px;">
                                        <ion-icon ios="ios-call" md="md-call"></ion-icon>
                                        <ion-label><b> {{ cotacaoFornecedorEntity.telefone2 }} </b></ion-label>
                                    </ion-chip>
                                </a>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <!-- <hr style="border-top: 1px solid #999;"> -->
                    
                </div>
            </div>
            
        </div>
        <hr class="hr10">

        <div padding *ngFor="let list of listServicoResposta" style="margin-top: -10px;">
            <p class="h2-color-cards">
                <b style="color: #000; font-size: 14px;">{{ 'LABEL_PRODUTO_SERVICO_ORCAMENTO' | translate }}</b>
            </p>
            <p>{{ 'LABEL_PRODUTO_SERVICO' | translate }}: <span style="color: #228B22"><b>{{ list.nomeServico }}</b></span></p>
            <p>{{ 'QTD_SERVICO' | translate }}: {{ cotacaoFornecedorEntity.qtdCotacao }}</p>
            <p>{{ 'LABEL_DATA_ENTREGA' | translate }}: {{ cotacaoFornecedorEntity.dataSolicitacaoFormat }}</p>
            <p>{{ 'LABEL_OBS_CLIENTE' | translate }}:</p>
            <p>{{ list.descricaoServicoCotacao }}</p>

            <div *ngIf="isReadOnly">
                <p>
                    <span style="color: #999">{{ 'LABEL_VALOR' | translate }}: </span>
                </p>
                <p>
                    <span style="color: #000"> ¥{{ list.valorServicoFormat }}</span>
                </p>
                <hr>

                <p>
                    <span style="color: #999;">{{ 'DATA_ENTREGA' | translate }} </span>
                </p>
                <p>
                    <span style="color: #000">{{ cotacaoFornecedorEntity.dataEntregaFormat }}</span>
                </p>

                <p>
                    <span style="color: #999;">{{ 'LABEL_VALIDADE_ORCAMENTO' | translate }} </span>
                </p>
                <p>
                    <span style="color: #000">{{ cotacaoFornecedorEntity.validadeOrcamentoFormat }}</span>
                </p>

                <p>
                    <span style="color: #999;">{{ 'TIPO_PAGAMENTO' | translate }} </span>
                </p>
                <p>
                    <span style="color: #000">{{ cotacaoFornecedorEntity.tipoPagamento }}</span>
                </p>
                <p>
                    <span style="color: #999">{{ 'OBSERVACAO' | translate }}: </span>
                </p>
                <p>
                    <span style="color: #000">{{ list.observacaoServicoCotacao }}</span>
                </p>
                <hr>
                <!-- <p>
                            <span style="color: #999; font-size: 1.2rem;">Prazo de pagamento* </span>
                        </p>
                        <p>
                            <span style="color: #000">{{ cotacaoFornecedorEntity.prazoPagamento }}</span>
                        </p> -->
            </div>
        </div>

        <div *ngIf="!isReadOnly && listServicoResposta">

            <form [formGroup]="respostaServicoForm" style="margin-top: -25px;">

                <div padding>
                    <hr style="border-top: 1px solid #999;">
                </div>

                <ion-card-header text-wrap style="margin-top: -20px;">
                    <b style="color: #000; font-size: 14px;" *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum == 'ABERTO'">{{ 'LABEL_RESPONDA_ORCAMENTO_ABAIXO' | translate }}</b>
                    <b style="color: #000; font-size: 14px;" *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum != 'ABERTO'">{{ 'LABEL_SUA_RESPOSTA' | translate }}</b>
                </ion-card-header>

                <ion-item>
                    <ion-label stacked style="color: #000; font-size: 14px;">{{ 'LABEL_VALOR_COBRADO' | translate }}*</ion-label>
                    <ion-input formControlName="valorServico" style="color: #000; font-size: 14px;" [(ngModel)]="valorServico" placeholder="Digite o valor a ser cobrado" type="text" maxlength="100" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"
                        (keyup)="getValorServico(valorServico)"></ion-input>
                </ion-item>
                <div *ngIf="!respostaServicoForm.get('valorServico').valid && respostaServicoForm.get('valorServico').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

                <ion-item (click)="selecionaDataEntrega()" class="margin-ion-item">
                    <ion-label stacked style="color: #000; font-size: 14px;">{{ 'DATA_ENTREGA' | translate }}*</ion-label>
                    <ion-datetime formControlName="dataEntrega" color="dark" name="dataEntrega" displayFormat="DD/MM/YYYY" [(ngModel)]="dataEntrega" style="color: #000"></ion-datetime>
                </ion-item>
                <div *ngIf="!respostaServicoForm.get('dataEntrega').valid && respostaServicoForm.get('dataEntrega').touched && !dataEntrega" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

                <ion-item (click)="selecionaDataValidadeOrcamento()" class="margin-ion-item">
                    <ion-label stacked style="color: #000; font-size: 14px;">{{ 'LABEL_VALIDADE_ORCAMENTO' | translate }}*</ion-label>
                    <ion-datetime formControlName="validadeOrcamento" color="dark" name="validadeOrcamento" displayFormat="DD/MM/YYYY" [(ngModel)]="validadeOrcamento" style="color: #000"></ion-datetime>
                </ion-item>
                <div *ngIf="!respostaServicoForm.get('validadeOrcamento').valid && respostaServicoForm.get('validadeOrcamento').touched && !validadeOrcamento" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

                <ion-item class="margin-ion-item">
                    <ion-label stacked style="color: #000; font-size: 14px;">{{ 'TIPO_PAGAMENTO' | translate }}*</ion-label>
                    <ion-input formControlName="tipoPagamento" style="color: #000;" [(ngModel)]="cotacaoFornecedorEntity.tipoPagamento" type="text" maxlength="100" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
                </ion-item>
                <div *ngIf="!respostaServicoForm.get('tipoPagamento').valid && respostaServicoForm.get('tipoPagamento').touched" [ngClass]="'class-error-form'" style="margin-bottom: 20px;">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

                <ion-item style="margin-top: 5px;">
                    <ion-label stacked style="color: #000; font-size: 14px;">{{ 'OBSERVACAO' | translate }}</ion-label>
                    <ion-textarea formControlName="observacaoServicoCotacao" rows="5" style="color: #000; font-size: 14px;" [(ngModel)]="value" type="text" maxlength="200" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-textarea>
                </ion-item>

            </form>
        </div>

    </div>

</ion-content>

<ion-footer *ngIf="cotacaoFornecedorEntity.nomeUsuario && !isReadOnly" style="background-color: #fff;">
    <ion-grid>
        <ion-row *ngIf="cotacaoFornecedorEntity.statusCotacaoEnum != 'ESCOLHIDO'">
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="danger" (click)="rejeitarCotacaoConfirm()">
                    <span style="font-size: 12px;">{{ 'BTN_REJEITAR_UPPER' | translate }}</span>
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button>
            </ion-col>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="button-save-color" (click)="aprovarCotacao()">
                    <span style="font-size: 12px;">{{ 'LABEL_ACEITAR_SERVICO' | translate }}</span>
                    <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                </button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-footer>

<ion-footer *ngIf="cotacaoFornecedorEntity.nomeUsuario && isReadOnly && cotacaoFornecedorEntity.statusCotacaoEnum == 'ESCOLHIDO'" style="background-color: #fff;">
    <ion-grid>
        <ion-row>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="button-save-color" (click)="concluirCotacaoConfirm()">
                    <span style="font-size: 12px;">{{ 'BTN_CONCLUIR' | translate }}</span>
                    <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
