<ion-header>

    <ion-navbar color="dark">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{ 'RECUPERAR_SENHA' | translate }}
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div>
        <div style="text-align:center; margin-top: 25px;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">{{ 'INFORME_EMAIL' | translate }}</p>
        </div>
    </div>

    <form [formGroup]="recuperarSenhaForm" (ngSubmit)="submeterRecuperarSenha()">

        <ion-item>
            <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
            <ion-input formControlName="email" [(ngModel)]="usuarioEntity.email" type="email" [readonly]="isReadOnly"></ion-input>
        </ion-item>
        <div *ngIf="(!recuperarSenhaForm.get('email').valid && recuperarSenhaForm.get('email').touched) && !recuperarSenhaForm.get('email').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        <div *ngIf="recuperarSenhaForm.get('email').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'EMAIL_INVALIDO' | translate }}</div>

        <button ion-button block type="submit" color="navbarColor" class="margin-button-save" style="color: #000;"><span style="color: #FDB313">{{ 'ENVIAR' | translate }}</span></button>
    </form>

</ion-content>